/*
Error: Invalid CSS after "  }": expected "}", was ""
        on line 64 of c:/Users/balon/Desktop/Proyectos/HTML/PROYECTO-1.Box-CrossFit/code/scss/components/_cards.scss
        from line 16 of c:\Users\balon\Desktop\Proyectos\HTML\PROYECTO-1.Box-CrossFit\code\scss\main.scss

59:   }
60:   
61:   // Cuerpo de la tarjeta
62:   &-body {
63:     padding: 0;
64:   }

Backtrace:
c:/Users/balon/Desktop/Proyectos/HTML/PROYECTO-1.Box-CrossFit/code/scss/components/_cards.scss:64
c:\Users\balon\Desktop\Proyectos\HTML\PROYECTO-1.Box-CrossFit\code\scss\main.scss:16
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:690:in `block'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:321:in `to_tree'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Users/balon/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Users/balon/AppData/Local/Microsoft/WindowsApps/sass:32:in `load'
C:/Users/balon/AppData/Local/Microsoft/WindowsApps/sass:32:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected \"}\", was \"\"\A         on line 64 of c:/Users/balon/Desktop/Proyectos/HTML/PROYECTO-1.Box-CrossFit/code/scss/components/_cards.scss\A         from line 16 of c:\Users\balon\Desktop\Proyectos\HTML\PROYECTO-1.Box-CrossFit\code\scss\main.scss\A \A 59:   }\A 60:   \A 61:   // Cuerpo de la tarjeta\A 62:   &-body {\A 63:     padding: 0;\A 64:   }"; }
